<div class="container">
  <h1 class="questions"></h1>

  <h2 class="result"></h2>

  <div class="answers"></div>

</div>

<div class="container">
  <!--<h1>Demo of Bootstrap buttons</h1>-->
  <button class="btn btn-default"></button>
  <button class="btn btn-success"></button>
  <button class="btn btn-danger"></button>
  <button class="btn btn-primary"></button>

  <br>

  <div class="nav">
    <button class="btn">Next</button>
  </div>

  <h3 class="score"></h3>

</div>